
/ {
  keymap {
    compatible = "zmk,keymap";

    l1_number {
      label = "L1";
      bindings = <
//  ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮    ╭────────────────┬────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮
//  │0               │1               │2               │3               │4               │5               │    │6               │7               │8               │9               │10              │11              │
     &kp GRAVE        &kp N1           &kp N2           &kp N3           &kp N4           &kp N5                &kp N6           &kp N7           &kp N8           &kp N9           &kp N0           &to L0           
//  ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤    ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
//  │12              │13              │14              │15              │16              │17              │    │18              │19              │20              │21              │22              │23              │
     &kp F1           &kp F2           &kp F3           &kp F4           &kp F5           &kp F6                &kp F7           &kp F8           &kp F9           &kp F10          &kp F11          &kp F12          
//  ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤    ├────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤
//  │24              │25              │26              │27              │28              │29              │    │30              │31              │32              │33              │34              │35              │
     &tog L1          &sk LCTRL        &sk LALT         &sk LCMD         &kp MEH          &sk GLOBE             &kp GLOBE        &kp MEH          &kp RCMD         &kp RALT         &kp RCTRL        &none            
//  ╰────────────────┴────────────────┴────────────────┼────────────────┼────────────────┼────────────────┤    ├────────────────┼────────────────┼────────────────┼────────────────┴────────────────┴────────────────╯
//                                                     │36              │37              │38              │    │39              │40              │41              │
                                                        &none            &kp LSHIFT       &trans                &none            &kp LSHIFT       &none            
//                                                     ╰────────────────┴────────────────┴────────────────╯    ╰────────────────┴────────────────┴────────────────╯
      >;
    };
  };
};
